main{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 0.3fr auto auto auto auto auto auto 0.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "navbar navbar navbar navbar navbar navbar navbar"
        "name name name catchphrase catchphrase catchphrase catchphrase"
        "reg-action reg-action reg-action reg-action reg-action reg-action reg-action"
        "demo-img demo-img demo-img demo-img demo-text1 demo-text1 demo-text1"
        "demo-img demo-img demo-img demo-img demo-text2 demo-text2 demo-text2"
        "reviews reviews reviews reviews reviews reviews reviews"
        "registro registro registro registro registro registro registro"
        "footer footer footer footer footer footer footer";
    width: 100%;
    /* height: 100%; */
    min-height: 100vh;
}

nav{
    grid-area: navbar;
    background-color: #3D3E58;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem 2rem 6rem;
}
nav img{
    width: 2rem;
}
nav ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.name {
    grid-area: name;
    background-color: #3D3E58;
    min-height: 70vh;
    display: flex;
    align-items: center;
}
.name h1{
    font-size: 4rem;
    color: white;
    padding: 6rem;
}

.catchphrase {
    grid-area: catchphrase;
    background-color: #3D3E58;
    color: white;
    display: flex;
    align-items: center;
    padding: 3rem;
}

.reg-action{
    grid-area: reg-action;
    padding: 4rem 2rem 4rem 6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}
.reg-action button{
    width: 100%;
    font-size: 1.2rem;
    font-family: inherit;
}
.reg-action p{
    margin-top: 1rem;
}
.reg-action p a:hover {
    color: #A99BCF;
}

.demo-img {
    grid-area: demo-img;
    padding: 4rem 2rem 4rem 6rem;
    min-height: 50vh;
}
.demo-img div{
    background-color: #F0F2F7;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 3rem;
}

.demo-text1 {
    grid-area: demo-text1;
    padding: 4rem 6rem 1rem 2rem;
}
.demo-text1 div {
    background-color: #A99BCF;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.demo-text2 {
    grid-area: demo-text2;
    padding: 1rem 6rem 4rem 2rem;
}
.demo-text2 div {
    background-color: #B8F273;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;  
}

.reviews {
    grid-area: reviews;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem 6rem 4rem 6rem;
    gap: 3rem;
}
.reviews div{
    background-color: #D5D5D9;
    min-height: 30vh;
    width: 100%;
    border-radius: 30px;
}

.registro {
    grid-area: registro;
    padding: 4rem 6rem 4rem 6rem;
}
.registro-container {
    background-color: #3D3E58;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 30px;
    padding: 3rem 2rem 3rem 2rem;
    text-align: center;
}
.registro-container h3{
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 3rem;
}
.registro-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.registro-container form input{
    width: 60%;
    font-size: 1.2rem;
    font-family: inherit;
    border: none;
    border-radius: 15px;
    padding: 1rem;
}
.registro-container a{
    width: 100%;
}
.registro-container button{
    width: 60%;
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
    font-family: inherit;
}
.registro-container a:hover {
    color: #B8F273;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 4rem 6rem 4rem 6rem;
}
footer a:hover{
    color:#B8F273;
}